@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Geist';
    font-weight: 100 900;
    font-display: block;
    font-style: normal;
    src: url('/Geist/GeistVF.woff2');
  }

  @font-face {
    font-family: 'Geist Mono';
    font-weight: 100 900;
    font-display: block;
    font-style: normal;
    src: url('/GeistMono/GeistMonoVF.woff2');
  }
}

.background {
  background-color: #fff;
  background-image:
    radial-gradient(circle at 80% 10%, rgba(93, 14, 167, 0.1) 0%, transparent 50%),
    radial-gradient(circle at 15% 75%, rgba(30, 144, 255, 0.1) 0%, transparent 50%),
    repeating-linear-gradient(rgba(0, 0, 0, 0.03) 0,
      rgba(0, 0, 0, 0.03) 1px,
      transparent 1px,
      transparent 30px),
    repeating-linear-gradient(90deg,
      rgba(0, 0, 0, 0.03) 0,
      rgba(0, 0, 0, 0.03) 1px,
      transparent 1px,
      transparent 30px);
  background-size: 100% 100%, 100% 100%, 30px 30px, 30px 30px;
  background-position: 0 0, 0 0, -1px -1px, -1px -1px;
}

.dark .background {
  background-color: #1e1b20;
  background-image:
    radial-gradient(circle at 80% 10%, rgba(138, 43, 226, 0.2) 0%, transparent 50%),
    radial-gradient(circle at 15% 75%, rgba(30, 144, 255, 0.2) 0%, transparent 50%),
    repeating-linear-gradient(rgba(255, 255, 255, 0.05) 0,
      rgba(255, 255, 255, 0.05) 1px,
      transparent 1px,
      transparent 30px),
    repeating-linear-gradient(90deg,
      rgba(255, 255, 255, 0.05) 0,
      rgba(255, 255, 255, 0.05) 1px,
      transparent 1px,
      transparent 30px);
}


.background-color {
  background-color: #fff;
  background-image:
    radial-gradient(circle at 80% 10%, rgba(138, 43, 226, 0.1) 0%, transparent 50%),
    radial-gradient(circle at 15% 75%, rgba(30, 144, 255, 0.1) 0%, transparent 50%);
}

.background-lines {
  background-image:
    repeating-linear-gradient(rgba(0, 0, 0, 0.03) 0,
      rgba(0, 0, 0, 0.03) 1px,
      transparent 1px,
      transparent 30px),
    repeating-linear-gradient(90deg,
      rgba(0, 0, 0, 0.03) 0,
      rgba(0, 0, 0, 0.03) 1px,
      transparent 1px,
      transparent 30px);
  background-size: 30px 30px, 30px 30px;
  background-position: -1px -1px, -1px -1px;
}

.dark .background-color {
  background-color: #1e1b20;
  background-image:
    radial-gradient(circle at 80% 10%, rgba(138, 43, 226, 0.2) 0%, transparent 50%),
    radial-gradient(circle at 15% 75%, rgba(30, 144, 255, 0.2) 0%, transparent 50%);
}

.dark .background-lines {
  background-image:
    repeating-linear-gradient(rgba(255, 255, 255, 0.05) 0,
      rgba(255, 255, 255, 0.05) 1px,
      transparent 1px,
      transparent 30px),
    repeating-linear-gradient(90deg,
      rgba(255, 255, 255, 0.05) 0,
      rgba(255, 255, 255, 0.05) 1px,
      transparent 1px,
      transparent 30px);
}

.showcase-background {
  background-color: #fff;
  transition: background-color 0.2s;
  /* background-image: 
    linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.3) 100%),
    radial-gradient(at top right, rgba(30,144,255,0.12) 0%, rgba(30,144,255,0) 70%); */
}

.dark .showcase-background {
  background-color: #1a1b1e;
  background-image:
    linear-gradient(to bottom, rgba(26, 27, 30, 0) 0%, rgba(26, 27, 30, 0.3) 100%),
    radial-gradient(at top right, rgba(30, 144, 255, 0.125) 0%, rgba(30, 144, 255, 0) 60%);
}

/* Custom scrollbar */
/* For now */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #2c2c2c;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
